<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        body {
            background: #020617;
            color: white;
            font-family: sans-serif;
            padding: 20px;
        }

        h1 {
            text-align: center;
        }

        .log {
            background: rgba(255,255,255,0.05);
            padding: 15px;
            border-radius: 10px;
            margin-bottom: 10px;
        }
    </style>
</head>

<body>

<h1>Logs</h1>

{% for log in logs %}
<div class="log">
    <p><b>Time:</b> {{ log.time }}</p>
    <p><b>IP:</b> {{ log.ip }}</p>
    <p><b>Device:</b> {{ log.device }}</p>
    <p><b>Platform:</b> {{ log.platform }}</p>
    <p><b>Screen:</b> {{ log.screen }}</p>
    <p><b>Location:</b> {{ log.location }}</p>
</div>
{% endfor %}

</body>
</html>
